
#mzdContainer {
    font-family:Tipperary,verdana;
    top:0px;
    right:0;
    bottom:0;
    left:0;
    height:416px;
    width:800px;
    position:absolute;
}



#mzdMainDiv {
    width: 800px;
    height: 416px;
    top: 0px;
    left: 0px;
    position: absolute;
}
#mzdMainDiv .txtSpeedUnit {
    position: relative;
    left: -4px;
    top: 168px;
    color: #999999;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
	z-index: 8;
}
#mzdMainDiv .txtSpeed {
    position: absolute;
    left: 153px;
    top: 152px;
    width: 220px;
    height: 220px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/dial_eye3.png.gz') no-repeat scroll center center transparent;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 217px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    z-index: 9;
}

#mzdMainDiv .EGTDialValue {
    position: absolute;
    left: 610px;
    top: 265px;
    width: 220px;
    height: 220px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 217px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    z-index: 29;
}

#mzdMainDiv .EGT2DialValue {
    position: absolute;
    left: 15px;
    top: 322px;
    width: 110px;
    height: 110px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 105px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    z-index: 29;
}

#mzdMainDiv .IATDialValue {
    position: absolute;
    left: 601px;
    top: 135px;
    width: 220px;
    height: 220px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 217px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    z-index: 29;
}

#mzdMainDiv .IAT2DialValue {
    position: absolute;
    left: 30px;
    top: 188px;
    width: 110px;
    height: 110px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 110px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    z-index: 29;
}

#mzdMainDiv .MBG1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 800px;
    height: 161px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/Widgetbgn1.jpg.gz') no-repeat scroll center center transparent;
    z-index: 1;
}
#mzdMainDiv .MBG2 {
    position: absolute;
    left: 0px;
    top: 152px;
    width: 800px;
    height: 138px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/Widgetbgn2.jpg.gz') no-repeat scroll center center transparent;
    z-index: 1;
}
#mzdMainDiv .MBG3 {
    position: absolute;
    left: 0px;
    top: 279px;
    width: 800px;
    height: 137px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/Widgetbgn3.jpg.gz') no-repeat scroll center center transparent;
    z-index: 1;
}
#mzdMainDiv .OutSideRing {
    position: absolute;
    left: 153px;
    top: 152px;
    width: 220px;
    height: 220px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/dout_ring.png.gz') no-repeat scroll center center transparent;
    z-index: 6;
}
#mzdMainDialBG {
    left: 140px;
    top: 13px;
    width: 530px;
    height: 416px;
    position:absolute;
    z-index: 3;
}


.topSpeedNeedle{
    left: 252px;
    top: -13px;
    width: 25px;
    height: 550px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/top_needle.png.gz') no-repeat scroll center center transparent;
    position: absolute;
    transform: rotate(120deg);
    transition: transform 1.0s linear 0s;
	z-index: 4;
}
.speedNeedle {
    left: 241px;
	top: 36px;
    width: 44px;
    height: 450px;
    position: absolute;
	background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/spd_needle0.png.gz') no-repeat scroll center center transparent;
    transform: rotate(-120deg);
    transition: transform 0.2s linear 0s; /* 0.2 */
	z-index: 5;
}
.rpmNeedle {
    left: 241px;
	top: 112px;
    width: 42px;
    height: 300px;
    position: absolute;
	background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/rpm_needle1.png.gz') no-repeat scroll top center transparent;
    transform: rotate(-120deg);
    transition: transform 0.2s linear 0s; /* 0.2 */
	z-index: 7;
}


.speedTopValue{
    left: 130px;
	top: 10px;
    position: absolute;
	font-size: 18px;
	color: #FFD700;
	text-align: right;
}



#guageDivBorder {
    position: absolute;
    right: 11px;
    bottom: 15px;
    width: 128px;
    height: 240px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/dial_ring2.png.gz') no-repeat scroll center center transparent;
    z-index: 28;
}

#guage2DivBorder {
    position: absolute;
    right: 661px;
    bottom: 15px;
    width: 128px;
    height: 240px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/dial_ring3.png.gz') no-repeat scroll center center transparent;
    z-index: 28;
}




.IATNeedle {
    left: 706px;
    top: 184px;
    width: 13px;
    height: 80px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/iat_needle.png.gz') no-repeat scroll 0 0;
    position:absolute;
    z-index: 22;
	transform: rotate(-45deg);
	transition: transform 1.0s linear 0s;
}
.IAT2Needle {
    left: 83px;
    top: 184px;
    width: 13px;
    height: 80px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/iat_needle.png.gz') no-repeat scroll 0 0;
    position:absolute;
    z-index: 22;
	transform: rotate(-45deg);
	transition: transform 1.0s linear 0s;
}

.IATCenterDial {
    left: 701px;
    top: 213px;
    width: 21px;
    height: 21px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/center_dial.png.gz') no-repeat scroll 0 0;
    position:absolute;
    z-index: 23;
}

.IAT2CenterDial {
    left: 78px;
    top: 213px;
    width: 21px;
    height: 21px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/center_dial.png.gz') no-repeat scroll 0 0;
    position:absolute;
    z-index: 23;
}



.EGTAlarm {
    left: 670px;
    top: 280px;
    width: 109px;
    height: 109px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/egt_alarm.png.gz') no-repeat scroll 0 0;
    position:absolute;
	opacity: 0;
    z-index: 25;
}



.EGTNeedle {
    left: 709px;
    top: 300px;
    width: 30px;
    height: 100px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/egt_needle.png.gz') no-repeat scroll 0 0;
    position:absolute;
    z-index: 26;
	transform: rotate(-45deg);
	transition: transform 1.0s linear 0s;
}

.EGT2Needle {
    left: 59px;
    top: 300px;
    width: 30px;
    height: 100px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/egt_needle.png.gz') no-repeat scroll 0 0;
    position:absolute;
    z-index: 26;
	transform: rotate(-45deg);
	transition: transform 1.0s linear 0s;
}

.EGTCenterDial {
    left: 713px;
    top: 340px;
    width: 21px;
    height: 21px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/center_dial.png.gz') no-repeat scroll 0 0;
    position:absolute;
    z-index: 27;
}

.EGT2CenterDial {
    left: 63px;
    top: 340px;
    width: 21px;
    height: 21px;
    background: url('http://192.168.0.10/page?var=file&val=/ui/OBD/img/center_dial.png.gz') no-repeat scroll 0 0;
    position:absolute;
    z-index: 27;
}



#chart-wrapper{
	position:absolute;
	top:10%;
	left:16%;
	transform:translate(-50%,-50%);
	z-index: 69;
}

.chart{
	z-index: 70;
}

#mzdMainDiv .TrFR {
    position: absolute;
    left: 640px;
    top: 125px;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    z-index: 29;
}

#mzdMainDiv .TrFL {
    position: absolute;
    left: 730px;
    top: 35px;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    z-index: 29;
}

#mzdMainDiv .TrRL {
    position: absolute;
    left: 655px;
    top: 3px;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    z-index: 29;
}

#mzdMainDiv .TrRR {
    position: absolute;
    left: 500px;
    top: 17px;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    z-index: 29;
}


#mzdMainDiv .TrSP {
    position: absolute;
    left: 570px;
    top: 5px;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 30px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    z-index: 29;
}


#mzdMainDiv .CAtValue {
    position: absolute;
    left: 15px;
    top: 137px;
    width: 110px;
    height: 30px;
    color: yellow;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    z-index: 29;
}

.Deb1 {
	position: absolute;
    left: 0px;
    top: 0px;
	font-size: 12px;
	color: white;
	z-index: 90;
}
.Deb2 {
	position: absolute;
    left: 0px;
    top: 12px;
	font-size: 12px;
	color: white;
	z-index: 90;
}
.Deb3 {
	position: absolute;
    left: 0px;
    top: 24px;
	font-size: 12px;
	color: white;
	z-index: 90;
}
.Deb4 {
	position: absolute;
    left: 0px;
    top: 36px;
	font-size: 12px;
    color: white;
    z-index: 90;
}
.Deb5 {
	position: absolute;
    left: 0px;
    top: 48px;
	font-size: 12px;
	color: white;
	z-index: 90;
}
.Deb6 {
	position: absolute;
	left: 0px;
    top: 60px;
	font-size: 12px;
	color: white;
	z-index: 90;
}

a.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
      line-height: 28px;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;

}


.button1 
{
	left: 350px;
    top: 370px;
	width: 100px;
    height: 30px;
	position: absolute;
	background-color: red;
	z-index: 10;
} 